.header {
    min-height: 10vh;
    width: 100vw;
    background-color: lightslategray;
    color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.lista-menu {
    /*ul*/
    display: flex;
    list-style-type: none;
    font-size: 1.3rem;
}

.item-menu {
    /*li*/
    padding: 10px 15px;
}

.link-menu:hover,.link-carrossel:hover {color: black;}
#icone-menu{
    font-size:2rem;
    display: none;
}